<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css">
    <title>vuejsTest - shoppingList</title>
</head>
<body>
<!--
<div id="shoppingList">
    <h1>{{ header.toLocaleUpperCase() }}</h1>
    <input v-model="newItem" type="text" placeholder="Er der mere du mangler..?">
    <ul>
        <li v-for="item in items"> {{ item }}</li>
    </ul>
</div>
-->

<div id="shoppingList">
    <form v-on:submit.prenvent="addItem">
        <input v-model="newItem" type="text" placeholder="Add items"/>
        <button v-on:click="addItem">Submit</button>
    </form>


<ul>
    <li v-for="(item, key) in shoppingList"  v-bind:class="{collected: item.collected}">
        <span>{{item.name}} {{key}} </span>
        <input type="checkbox" v-model="item.collected" v-on:change="save"/>
        <button v-on:click="deleteItem(key)">Delete</button>
    </li>
</ul>

<button v-on:click="clearAll">Clear all</button>

</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="index.js"></script>
</body>
</html>